.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, minmax(330px, 1fr));
    grid-template-rows: 85% 15%;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 320px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px;
    grid-column: 1 / 2;
    justify-self: end;
}

.player-info {
    grid-column: 2 / 3;
    background-color: cadetblue;
    justify-self: start;
    width: max(50%, 30vw);
    height: auto;
    border-radius: 10px;
    color: burlywood;
}

.ttt {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    margin: .5em;
}

ul {
    list-style: none;
}

li {
    margin: 3px;
}

.footer {
    grid-column: 1 / 3;
    justify-self: center;
    align-items: center;
    width: 50vw;
    background-color: rgb(72, 207, 162);
    text-align: center;
    text-justify: center;
    border-radius: 10px;
    color: rgb(177, 136, 83);
    font-size: x-large;
    height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.footer > p {
    margin: 0;
    padding: 0;
}

.square {
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: lightslategray;
    box-shadow: 3px 3px 3px lightseagreen;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    color: burlywood;
    font-family: Arial, Helvetica, sans-serif; 
}

.square.active {
    background-color: cadetblue;
}

.clicked {
    left: 3px;
    top: 3px;
    box-shadow: none;
}

/* [data-row="0"] {
    border-bottom: 5px solid black;
}

[data-row="1"] {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

[data-row="2"] {
    border-top: 5px solid black;
}

[data-col="0"] {
    border-right: 5px solid black;
}

[data-col="1"] {
    border-right: 5px solid black;
    border-left: 5px solid black;
}

[data-col="2"] {
    border-left: 5px solid black;
} */